/* Table of content */
.toc nav ul {
    padding-left: 0;
    list-style: none;
}

.toc nav li {
    margin-bottom: 0.25rem;
}

.toc nav a:not(:hover) {
    text-decoration: none;
}

.toc nav a {
    color: inherit;
}

.toc nav li.active a{
    font-weight: bold;
    text-decoration: underline;
}


/* Table column width */
.table-container td:nth-child(1) {
    width: 8%;
}

.table-container td:nth-child(2) {
    width: 34%;
}

.table-container td:nth-child(3) {
    width: 32%;
}

.table-container td:nth-child(4),
.table-container td:nth-child(5),
.table-container td:nth-child(6) {
    width: 8%;
}

/* Table sorting icon */
.table-container th.asc:after {
    content: '\0000a0\0025b2';
    float: right;
    width: inherit;
}

.table-container th.desc:after {
    content: '\0000a0\0025bc';
    float: right;
    width: inherit;
}

/* Table multi column */

.multi-col-header {
    margin-bottom: 0;
}

/* Progress bar */
.progress {
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
    position: relative;
}

.progress {
    opacity: 0;
}

.htmx-request .progress {
    opacity: 1;
}
.htmx-request.progress {
    opacity: 1;
}

.progress .indeterminate {
    background-color: blue;
}

.progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}
T


